<header>


	<nav class="relative px-4 py-4 flex justify-between items-center h-24" style="background: radial-gradient(circle at 50% 50%, rgba(128, 0, 0, 1) 43%, rgba(167, 0, 0, 1) 72%)">
		<a class="text-2xl font-bold text-white leading-none flex items-center" href="#">
			<div>Tulare Union Music</div>
		</a>
		<div class="2x-lg:hidden x-lg:hidden lg:hidden">
			<button class="navbar-burger flex items-center text-blue-600 p-3">
				<svg class="block h-6 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
					<title>Mobile menu</title>
					<path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
				</svg>
			</button>
		</div>
		<ul class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 x-lg:mx-auto x-lg:flex x-lg:items-center x-lg:w-auto  x-lg:mx-auto lg:flex lg:items-center lg:w-auto ">
			<li><a class=" text-white hover:text-gray-500" href="#">Home</a></li>
			<li class="text-gray-300">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
				</svg>
			</li>
			<li><a class=" text-white hover:text-gray-500 " href="#">About</a></li>
			<li class="text-gray-300">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
				</svg>
			</li>
			<li><a class=" text-white hover:text-gray-500" href="#">Ensembles</a></li>
			<li class="text-gray-300">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
				</svg>
			</li>
			<li><a class=" text-white hover:text-gray-500" href="#">Fundraising</a></li>
			<li class="text-gray-300">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
				</svg>
			</li>
			<li><a class=" text-white hover:text-gray-500" href="#">Contact</a></li>
		</ul>
		<a class="hidden lg:inline-block lg:ml-auto py-2 px-6 outline text-sm outline-white hover:bg-white hover:text-black text-gray-300 font-bold  transition duration-200" href="#">CHARMS LOGIN</a>
		<a class="hidden lg:inline-block py-2 px-6 mx-4 hover:bg-blue-600 outline text-sm outline-white text-white font-bold transition duration-200" href="#">DONATE</a>
	</nav>
	<div class="navbar-menu relative z-50 hidden">
		<div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
		<nav class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto" style="background: linear-gradient(0deg, rgba(30, 4, 4, 1) 21%, rgba(167, 0, 0, 1) 89%);">
			<div class="flex justify-between items-center mb-4" >
				<a class="text-2xl text-white font-bold leading-none flex items-center"  href="#">
					<div>Tulare Union Music</div>
				</a>
				<button class="navbar-close">
					<h5>X</h5>
				</button>
			</div>
			<hr class="text-black" />
			<div>
				<ul>
					<li class="mb-1">
						<a class="block p-4 text-sm font-semibold text-gray-100 hover:bg-red-500 hover:text-black rounded" href="#">Home</a>
					</li>
					<li class="mb-1">
						<a class="block p-4 text-sm font-semibold text-gray-100 hover:bg-red-500 hover:text-black rounded" href="#">About</a>
					</li>
					<li class="mb-1">
						<a class="block p-4 text-sm font-semibold text-gray-100 hover:bg-red-500 hover:text-black rounded" href="#">Ensembles</a>
					</li>
					<li class="mb-1">
						<a class="block p-4 text-sm font-semibold text-gray-100 hover:bg-red-500 hover:text-black rounded" href="#">Fundraising</a>
					</li>
					<li class="mb-1">
						<a class="block p-4 text-sm font-semibold text-gray-100 hover:bg-red-500 hover:text-black rounded" href="#">Contact</a>
					</li>
				</ul>
				<div class="pt-6">
					<a class="block px-4 py-3 mb-3 leading-loose text-sm text-center font-semibold bg-gray-50 hover:bg-blue-600 outline outline-white rounded-xl" href="#">CHARMS LOGIN</a>
					<a class="block px-4 py-3 mb-2 leading-loose text-sm text-center text-white font-semibold bg-black hover:bg-red-800 outline outline-white rounded-xl" href="#">DONATE</a>
				</div>
			</div>
			<div class="mt-auto">
				<p class="my-4 text-xs text-center text-gray-400">
					<span>Copyright © 2023</span>
				</p>
			</div>
		</nav>
	</div>
</header>



<script>
    // Burger menus
    document.addEventListener('DOMContentLoaded', function() {
        // open
        const burger = document.querySelectorAll('.navbar-burger');
        const menu = document.querySelectorAll('.navbar-menu');

        if (burger.length && menu.length) {
            for (var i = 0; i < burger.length; i++) {
                burger[i].addEventListener('click', function() {
                    for (var j = 0; j < menu.length; j++) {
                        menu[j].classList.toggle('hidden');
                    }
                });
            }
        }

        // close
        const close = document.querySelectorAll('.navbar-close');
        const backdrop = document.querySelectorAll('.navbar-backdrop');

        if (close.length) {
            for (var i = 0; i < close.length; i++) {
                close[i].addEventListener('click', function() {
                    for (var j = 0; j < menu.length; j++) {
                        menu[j].classList.toggle('hidden');
                    }
                });
            }
        }

        if (backdrop.length) {
            for (var i = 0; i < backdrop.length; i++) {
                backdrop[i].addEventListener('click', function() {
                    for (var j = 0; j < menu.length; j++) {
                        menu[j].classList.toggle('hidden');
                    }
                });
            }
        }
    });
</script>
