<div class="py-2 my-6 outline outline-gray-900 mx-auto w-[90vw] lg:w-[75vw] 2xl:w-[55vw]">
    <iframe class="w-full aspect-video" src="https://calendar.google.com/calendar/embed?src=tulare.k12.ca.us_k598hiu71de2beb9uj3n8ua4ug%40group.calendar.google.com&ctz=America%2FLos_Angeles" style="border: 10px;" width="1200" height="600" frameborder="0" scrolling="no" ></iframe>
</div>