<div id="main-calendar" class="py-2 my-6  mx-auto w-[90vw] lg:w-[75vw] 2xl:w-[55vw] border-y border-white/50 text-center">
    <h6 class="font-bold m-5 text-2xl">Upcoming Events / Rehearsals </h6>
    <iframe class="w-full aspect-video" src=<%= calendar || @school.calendar_url %> style="border: 10px; " width="1200" height="600" frameborder="0" scrolling="no" ></iframe>
</div>