<div class="bg-black h-[92vh] flex items-center justify-start">
    <div class="w-[65vw] h-50 bg-red-700 outline backdrop-blur-sm outline-red-700 outline-offset-4 bg-opacity-75  lg:w-[35vw] 2xl:w-[30vw] ml-11">
        <h5 class="p-4 font-bold text-white text-5xl">Home of the Tulare Union Music Department</h5>
    </div>
</div>