<div class="bg-black h-screen lg:h-[94vh] flex items-center justify-start">
    <div class="w-full h-50 bg-red-700 outline backdrop-blur-sm outline-red-700 md:outline-offset-4 bg-opacity-75  md:w-3/5 lg:w-[35vw] 2xl:w-[30vw] ml-11">
        <h5 class="p-4 tracking-tight md:tracking-wide font-bold text-white text-5xl"><%= school.hero_title %></h5>
    </div>
</div>
