<%= render 'hero' %>
<div class="flex justify-center flex-col items-center">
  <h6 class="font-bold m-5 text-2xl">Upcoming Events / Rehearsals </h6>
  <%= render 'calendar' %>
</div>
<div class="min-h-screen h-auto overflow-y-auto flex flex-col items-center justify-center bg-black">
  <% if @programs.present? %>
    <div class="flex flex-wrap flex-row lg:flex-row justify-center my-6">
      <%  @programs.each do |program|%>
        <div class="w-full md:max-w-sm md:max-w-[30vw] m-2 h-96 bg-black relative rounded-md hover:scale-{103} hover:pointer shadow-lg  shadow-red-500/40 hover:shadow-white/40 outline outline-gray-800">
          <img class="object-scale-down w-fit h-full" src=<%= program.main_gallery_image_url.strip || "https://images.squarespace-cdn.com/content/v1/5aff887996d455ca53da1056/1531704118601-SCQNH52UMJ4IAE75CQ0E/Remo_Chino+Hills_FINAL.jpg?format=2500w" %> />
          <div class=" inline-block outline outline-gray-300 text-left absolute bottom-0 text-sm left-0 h-auto z-10 max-w-prose p-[17px]" style="background: rgba(0,0,0,.65);">
            <h5 class="uppercase text-white  text-l m-auto"><%= program.description %></h5>
            <p class="text-white">Home of the mighty mighty Tribe</p>
          </div>          
        </div>
      <% end %>
      <% if @programs.count < 8 %>
        <% (8 - @programs.count).times do %>
        <div class="w-full md:max-w-sm md:max-w-[30vw] h-96 bg-black m-2 relative rounded-md hover:scale-102 hover:pointer shadow-lg  shadow-red-500/40 hover:shadow-white/40 outline outline-gray-800">
          <img class="object-scale-down w-fit h-full" src="https://images.squarespace-cdn.com/content/v1/5aff887996d455ca53da1056/1531704118601-SCQNH52UMJ4IAE75CQ0E/Remo_Chino+Hills_FINAL.jpg?format=2500w" />
          <div class=" inline-block outline outline-gray-300 text-left absolute bottom-0 text-sm left-0 h-auto z-10 max-w-prose p-[17px]" style="background: rgba(0,0,0,.65);">
            <h5 class="uppercase text-white  text-l m-auto">Coming Soon! </h5>
            <p class="text-white">Home of the mighty mighty Tribe</p>
          </div>          
        </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <h6 class="font-bold m-5 text-2xl text-white">Programs coming soon! </h6>
  <% end %>
</div>
<div class="relative overflow-hidden bg-[#f7f7f7] m-auto md:container">
  <div class="box-border p-16 max-w-[1920px] mx-auto" style="animation: anim-opacity-full 480ms ease-out">
      <div class="row sqs-row">
        <div class="col sqs-col-12 span-12">
          <div class="sqs-block image-block sqs-block-image sqs-text-ready">
            <div class="sqs-block-content">
              <figure class="sqs-block-image-figure image-block-outer-wrapper image-block-v2 design-layout-collage combination-animation-none individual-animation-none individual-text-animation-none image-position-left image-linked sqs-text-ready" >
                <div class="intrinsic">          
                    <div class="image-inset" data-animation-role="image">
                      <div class="sqs-image-shape-container-element content-fit" style="position: relative; overflow: hidden;-webkit-mask-image: -webkit-radial-gradient(white, black);"> 
                        <img data-stretch="false" data-src="https://images.squarespace-cdn.com/content/v1/5aff887996d455ca53da1056/1532500816977-0QBJ7B6BTYEYZMDXKU3R/CHHS+Fall+Preview-7.jpg" data-image="https://images.squarespace-cdn.com/content/v1/5aff887996d455ca53da1056/1532500816977-0QBJ7B6BTYEYZMDXKU3R/CHHS+Fall+Preview-7.jpg" data-image-dimensions="2080x1387" data-image-focal-point="0.5,0.5" alt="CHHS Fall Preview-7.jpg" data-load="false" src="https://images.squarespace-cdn.com/content/v1/5aff887996d455ca53da1056/1532500816977-0QBJ7B6BTYEYZMDXKU3R/CHHS+Fall+Preview-7.jpg" width="2080" height="1387" sizes="(max-width: 768px) 100vw, 100vw" style="display:block;object-fit: contain;" srcset="https://images.squarespace-cdn.com/content/v1/5aff887996d455ca53da1056/1532500816977-0QBJ7B6BTYEYZMDXKU3R/CHHS+Fall+Preview-7.jpg?format=100w 100w, https://images.squarespace-cdn.com/content/v1/5aff887996d455ca53da1056/1532500816977-0QBJ7B6BTYEYZMDXKU3R/CHHS+Fall+Preview-7.jpg?format=300w 300w, https://images.squarespace-cdn.com/content/v1/5aff887996d455ca53da1056/1532500816977-0QBJ7B6BTYEYZMDXKU3R/CHHS+Fall+Preview-7.jpg?format=500w 500w, https://images.squarespace-cdn.com/content/v1/5aff887996d455ca53da1056/1532500816977-0QBJ7B6BTYEYZMDXKU3R/CHHS+Fall+Preview-7.jpg?format=750w 750w, https://images.squarespace-cdn.com/content/v1/5aff887996d455ca53da1056/1532500816977-0QBJ7B6BTYEYZMDXKU3R/CHHS+Fall+Preview-7.jpg?format=1000w 1000w, https://images.squarespace-cdn.com/content/v1/5aff887996d455ca53da1056/1532500816977-0QBJ7B6BTYEYZMDXKU3R/CHHS+Fall+Preview-7.jpg?format=1500w 1500w, https://images.squarespace-cdn.com/content/v1/5aff887996d455ca53da1056/1532500816977-0QBJ7B6BTYEYZMDXKU3R/CHHS+Fall+Preview-7.jpg?format=2500w 2500w" loading="lazy" decoding="async" data-loader="sqs" />
                        <div class="image-overlay" style="overflow: hidden;-webkit-mask-image: -webkit-radial-gradient(white, black);"></div>
                      </div>         
                    </div>
                </div>
                <figcaption class="image-card-wrapper text-white" data-width-ratio="">
                  <div class="image-card sqs-dynamic-text-container" style="margin-top: 36%">        
                      <div class="image-title-wrapper">
                        <div class="image-title sqs-dynamic-text" data-width-percentage="40.5" style="font-size: max(0.75rem, 40.5%);">
                          <p>Support Our Young Musicians</p>
                        </div>
                      </div>              
                      <div class="image-subtitle-wrapper">
                        <div class="image-subtitle sqs-dynamic-text" data-width-percentage="40.5" style="font-size: max(0.75rem, 40.5%);">
                          <p class=""><strong><em>We Are Better Together</em></strong></p>
                          <p class="">Your donations go directly towards funding the Tulare Union HS music program. It will help us buy new equipment for the students, fund competition and travel expenses, and basically make it possible for us to create the best possible program for these amazing young adults.</p>
                        </div>
                      </div>
                      <div class="image-button-wrapper">
                        <div class="image-button sqs-dynamic-text" data-width-percentage="40.5" style="font-size: max(0.75rem, 40.5%);">
                          <div class="image-button-inner">
                            <a href="https://secure.squarespace.com/commerce/donate?donatePageId=5b044fea0e2e72164dcc6795" target="_blank" rel="noopener" class="sqs-button-element--primary">Donate Today</a>
                          </div>
                        </div>
                      </div>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="sqs-block image-block sqs-block-image sqs-text-ready" data-block-type="5" >
            <div class="sqs-block-content">
              <figure class="sqs-block-image-figure image-block-outer-wrapper image-block-v2 design-layout-collage combination-animation-none individual-animation-none individual-text-animation-none image-position-right image-linked sqs-text-ready" data-scrolled="" data-test="image-block-v2-outer-wrapper" >
                <div class="intrinsic" >  
                    <div class="image-inset" data-animation-role="image" data-description="" >
                      <div class="sqs-image-shape-container-element content-fit" style="position: relative; overflow: hidden;-webkit-mask-image: -webkit-radial-gradient(white, black);">
                        <img data-stretch="false" data-src="https://images.squarespace-cdn.com/content/v1/5aff887996d455ca53da1056/1556300870544-EEMT4YUOY70H3ZZOJ2C9/Dist+Show+2018-22.jpg" data-image="https://images.squarespace-cdn.com/content/v1/5aff887996d455ca53da1056/1556300870544-EEMT4YUOY70H3ZZOJ2C9/Dist+Show+2018-22.jpg" data-image-dimensions="2500x1667" data-image-focal-point="0.5,0.5" alt="Dist Show 2018-22.jpg" data-load="false" src="https://images.squarespace-cdn.com/content/v1/5aff887996d455ca53da1056/1556300870544-EEMT4YUOY70H3ZZOJ2C9/Dist+Show+2018-22.jpg" width="2500" height="1667" sizes="(max-width: 768px) 100vw, 100vw" style="display:block;object-fit: contain;" srcset="https://images.squarespace-cdn.com/content/v1/5aff887996d455ca53da1056/1556300870544-EEMT4YUOY70H3ZZOJ2C9/Dist+Show+2018-22.jpg?format=100w 100w, https://images.squarespace-cdn.com/content/v1/5aff887996d455ca53da1056/1556300870544-EEMT4YUOY70H3ZZOJ2C9/Dist+Show+2018-22.jpg?format=300w 300w, https://images.squarespace-cdn.com/content/v1/5aff887996d455ca53da1056/1556300870544-EEMT4YUOY70H3ZZOJ2C9/Dist+Show+2018-22.jpg?format=500w 500w, https://images.squarespace-cdn.com/content/v1/5aff887996d455ca53da1056/1556300870544-EEMT4YUOY70H3ZZOJ2C9/Dist+Show+2018-22.jpg?format=750w 750w, https://images.squarespace-cdn.com/content/v1/5aff887996d455ca53da1056/1556300870544-EEMT4YUOY70H3ZZOJ2C9/Dist+Show+2018-22.jpg?format=1000w 1000w, https://images.squarespace-cdn.com/content/v1/5aff887996d455ca53da1056/1556300870544-EEMT4YUOY70H3ZZOJ2C9/Dist+Show+2018-22.jpg?format=1500w 1500w, https://images.squarespace-cdn.com/content/v1/5aff887996d455ca53da1056/1556300870544-EEMT4YUOY70H3ZZOJ2C9/Dist+Show+2018-22.jpg?format=2500w 2500w" loading="lazy" decoding="async" data-loader="sqs" />              
                        <div class="image-overlay" style="overflow: hidden;-webkit-mask-image: -webkit-radial-gradient(white, black);"></div>
                      </div>
                    </div>
                </div>
                <figcaption class="image-card-wrapper text-white" data-width-ratio="">
                  <div class="image-card sqs-dynamic-text-container" style="margin-top: 36%">
                      <div class="image-title-wrapper">
                        <div class="image-title sqs-dynamic-text" data-width-percentage="40.5" style="font-size: max(0.75rem, 40.5%);">
                          <p class="">Get In Touch</p>
                        </div>
                      </div>
                      <div class="image-subtitle-wrapper">
                        <div class="image-subtitle sqs-dynamic-text" data-width-percentage="40.5" style="font-size: max(0.75rem, 40.5%);">
                          <p class=""><strong><em>Have a question?</em></strong></p>
                          <p class="">Reach out to our parent boosters, educators, and the rest of the team who make this program possible for these incredible students.</p>
                        </div>
                      </div>
                      <div class="image-button-wrapper">
                        <div class="image-button sqs-dynamic-text" data-width-percentage="40.5" style="font-size: max(0.75rem, 40.5%);">
                          <div class="image-button-inner">
                            <a href="/boosters" class="hover:bg-black hover:pointer">Contact Us</a>
                          </div>
                        </div>
                      </div>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>


<style>
@keyframes anim-opacity-full {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
  [class*="sqs-col"]:last-child {
    padding-right: 0;
  }
  .sqs-layout > .sqs-row {
    margin-left: -17px;
    margin-right: -17px;
}
.sqs-row {
    width: auto !important;
}
[class*=sqs-col]:last-child {
    padding-right: 0;
}
.sqs-col-12 {
    width: 100%;
}
[class*=sqs-col] {
    float: left;
}
.sqs-layout:not(.sqs-editing) .sqs-row .sqs-block:not(.float):not(.sqs-feature-gated-wrapper):first-child {
    padding-top: 0;
}
.sqs-block:not(.sqs-block-html):not(.sqs-block-markdown) {
    clear: both;
}
[class*=sqs-col] .sqs-block {
    padding-left: 17px;
    padding-right: 17px;
}
.sqs-block {
    position: relative;
    height: auto;
    padding-top: 17px;
    padding-bottom: 17px;
}
.sqs-block-image .design-layout-collage:not(.sqs-narrow-width) {
    display: flex;
}
.sqs-block-image .design-layout-collage:not(.sqs-narrow-width).image-position-right {
    flex-direction: row-reverse;
}
.sqs-block-image .image-block-outer-wrapper.image-block-v2 {
    position: relative;
}
.sqs-block-image .sqs-block-image-figure {
    margin: 0;
}
figure {
    margin: 1em 40px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
user agent stylesheet
figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}
.sqs-block-image .design-layout-collage:not(.sqs-narrow-width) .intrinsic {
    overflow: visible;
}
.sqs-block-image .design-layout-collage:not(.sqs-narrow-width) .image-card-wrapper, .sqs-block-image .design-layout-collage:not(.sqs-narrow-width)>:first-child {
    width: 50%;
}
.sqs-block-image .image-block-outer-wrapper.image-block-v2 .intrinsic {
    position: relative;
    max-width: initial !important;
}
.sqs-block-image .design-layout-collage:not(.sqs-narrow-width).image-position-left>:first-child>* {
    width: 150%;
}
.sqs-block-image .design-layout-collage:not(.sqs-narrow-width).image-position-right>:first-child>* {
    width: 150%;
    left: -50%;
}
.sqs-block-image .design-layout-collage:not(.sqs-narrow-width) .image-inset, .sqs-block-image .design-layout-collage:not(.sqs-narrow-width) .sqs-image-content {
    position: relative !important;
}

.sqs-block-image .image-block-outer-wrapper.image-block-v2 .image-inset {
    position: relative;
}
.image-block-collage-content-position-top .sqs-block-image .design-layout-collage .image-card-wrapper {
    align-items: flex-start;
}
.sqs-block-image .design-layout-collage:not(.sqs-narrow-width) .image-card-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.sqs-block-image .design-layout-collage:not(.sqs-narrow-width) .image-card-wrapper, .sqs-block-image .design-layout-collage:not(.sqs-narrow-width)>:first-child {
    width: 50%;
}
.sqs-block-image .image-block-outer-wrapper.image-block-v2 .image-card-wrapper {
    z-index: 2;
    pointer-events: none;
}
.sqs-block-image .design-layout-card .intrinsic img, .sqs-block-image .design-layout-overlap .intrinsic img, .sqs-block-image .design-layout-collage .intrinsic img, .sqs-block-image .design-layout-stack .intrinsic img {
    width: 100% !important;
    height: auto !important;
    position: static !important;
}
.sqs-block-image img {
    display: block;
}
img {
    border: 0;
}
img[Attributes Style] {
    width: 2500px;
    aspect-ratio: auto 2500 / 1667;
    height: 1667px;
}
user agent stylesheet
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.sqs-block-image .image-block-outer-wrapper.image-block-v2 .sqs-image-content::after, .sqs-block-image .image-block-outer-wrapper.image-block-v2 .image-overlay {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.sqs-block-image .design-layout-collage .sqs-image-content::after, .sqs-block-image .design-layout-collage .image-overlay {
    background-color: rgba(0,0,0,0);
}
.sqs-block-image .design-layout-collage:not(.sqs-narrow-width).image-position-left .image-card {
    width: 108%;
    margin-left: -8%;
}
.image-block-collage-content-position-top .sqs-block-image .design-layout-collage:not(.sqs-narrow-width) .image-card {
    margin-top: 36%;
}
.sqs-block-image .image-block-outer-wrapper.image-block-v2 .image-card {
    pointer-events: auto;
}
.sqs-block-image .design-layout-collage .image-card {
    background-color: rgba(0,0,0,.85);
    padding: 35px;
    box-sizing: border-box;
}
.design-layout-collage .image-card {
    background: linear-gradient(179deg,rgb(219 0 0 / 93%) 0%,rgb(129 0 0 / 93%) 20%,rgb(12 0 0 / 97%) 96%) !important;;
    box-shadow: rgba(0,0,0,.4) 2px 4px 6px 0px;
}
.image-block-collage-text-alignment-left .sqs-block-image .design-layout-collage .image-card>* {
    text-align: left !important;
}
.sqs-block-image .design-layout-collage .image-title-wrapper {
    font-size: 6.8vw;
}
.sqs-dynamic-text {
    min-width: 100%;
    line-height: 1em;
}
.image-block-collage-text-alignment-left .sqs-block-image .design-layout-collage .image-card>* {
    text-align: left !important;
}
.sqs-block-image .design-layout-collage .image-subtitle-wrapper {
    font-size: 3.6vw;
}
.sqs-block-image .design-layout-collage .image-subtitle-wrapper {
    width: 100%;
}
.sqs-block-image .design-layout-collage .image-title-wrapper+.image-subtitle-wrapper .image-subtitle {
    margin-top: 4%;
}
.sqs-dynamic-text {
    min-width: 100%;
    line-height: 1em;
}
.sqs-block-image .image-block-outer-wrapper.design-layout-collage .image-button-wrapper {
    margin-top: 6%;
    font-size: 3.6vw;
}
.image-block-collage-text-alignment-left .sqs-block-image .design-layout-collage .image-card>* {
    text-align: left !important;
}
.sqs-block-image .image-block-outer-wrapper.design-layout-collage .image-button-wrapper .image-button a {
    display: inline-block;
    padding: 1em 2.5em;
    border: 3px solid #980000;
    background-color: rgba(0,0,0,0);
    font-family: Arial;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: .03em;
    line-height: 1.1em;
    text-transform: none;
    font-family: acumin-pro-extra-condensed;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: .1em;
    line-height: 1em;
    text-transform: uppercase;
    color: #fff;
    border-radius: 3px;
}
</style>

