<%= render 'hero', school: @school %>

<div class="flex justify-center flex-col items-center text-white ">
  <%= render 'home/calendar', calendar: @school.calendar_url %>
</div>

<%= render 'programs', programs: @programs %>

<%= render 'call_to_action', school: @school %>

