<%= render 'hero', school: @school %>

<div class="flex justify-center flex-col items-center">
  <h6 class="font-bold m-5 text-2xl">Upcoming Events / Rehearsals </h6>
  <%= render 'home/calendar', calendar: @school.calendar_url %>
</div>

<%= render 'programs', programs: @programs %>

<%= render 'call_to_action', school: @school %>


