<h2 class="my-6 text-2xl text-white text-center">Add Section to <%= @program.short_name %></h2>
<div class="text-white w-[70vw] text-center m-auto p-4" style="display: flex; height: 100vh; flex-direction: column">
  <%= render 'form', section: @section %>
</div>
