<div class="mt-4">
  <%= link_to "Back to Sections" , practice_hub_program_sections_path, class: "mx-4 shadow-lg shadow-yellow-500/40 hover:shadow-white/40 border-yellow-900 border-[.9px] text-white px-6 py-2 my-2 rounded-md" %>
  <h2 class="my-6 text-2xl text-white text-center"><%= @section.name %> music</h2>
</div>
<div class="text-white w-[70vw] text-center m-auto p-4" style="display: flex; height: 100vh; flex-direction: column">
  <% if @section.collections.present? %>
    <% @section.collections.each do |collection| %>
      <%= link_to collection.title, practice_hub_program_section_collection_path(section_id: @section.id, id: collection.id), class: ' items-center border text-white border-2 relative rounded-md hover:scale-{103} hover:pointer shadow-lg  shadow-yellow-500/40 hover:shadow-white/40 border-red-900 min-w-[30vw]  shadow-lg rounded-lg overflow-hidden py-4 m-4' %>
    <% end %>
  <% end %>
  <%= link_to '+ Add collection', new_collection_practice_hub_program_section_path(section_id: @section.id), class: "items-center border text-white border-2 relative rounded-md hover:scale-{103} hover:pointer shadow-lg shadow-yellow-500/40 hover:shadow-white/40 border-red-900 min-w-[30vw] shadow-lg rounded-lg overflow-hidden py-4 m-4 text-xl" %>
</div>
