
<div class="flex text-white flex-col items-center justify-center h-[92vh]">
  <h1 class="font-bold text-4xl mb-4">Thank You for Donating!</h1>
  <p class="text-lg">We greatly appreciate your generous contribution.</p>
  <p class="text-lg">Check your email for a confirmation of your donation, and please reach out if there any discrepencies. </p>
  <div class="mt-2">
    <%= link_to 'Go to home page', home_index_path, class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>
  </div>
</div>
