<h2 class="my-6 text-2xl text-white text-center"><%= @sheet.title %></h2>
<div class="container mx-auto min-h-[80vh]">
  <iframe src=<%= @sheet.flat_file_link %> height="450" width="100%" frameBorder="0" allowfullscreen allow="autoplay; midi"></iframe>
</div>
