<div class="text-white" style="display: flex; justify-content: between; align-items: center; height: 100vh; flex-direction: column">
  <h2 class="my-6 text-2xl">Welcome to the Practice Hub!</h2>
  <div class="text-white flex flex-col" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <p>Here you will find all the resources you need to practice and improve your skills.</p>
    <p>Coming soon!</p>
  </div>
</div>
